<div class="container">
    <h1 class="display-4 text-center">Write Post</h1>
    <div class="form-group">
      <label for="post-title">Title</label>
      <input type="text" class="form-control" id="post-title">
    </div>
    <div class="form-group">
      <label for="post-body">Content</label>
      <textarea class="form-control" id="post-body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="post-create">Create Post</button>
</div>

<script src="../app/write-post.js"></script>